@media only screen and (min-width:1024px) and (max-width:1440px)
{
    html
    {
        font-size: 14px;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px)
{
    html
    {
        font-size: 14px;
    }
    .customcontainer
    {
        width: 90%;
    }
    .pos1 {
        right: 10.63rem;
        top: 10.5rem;
    }
}
@media only screen and (min-width:320px) and (max-width:767px)
{
    html
    {
        font-size: 12px;
    }
    .customcontainer
    {
        width: 90%;
    }
    .pos1 {
        right: 2.63rem;
        top: 8.5rem;
    }   
    .pos2 {
        left: 2rem;
        bottom: 15.5rem;
    }
    .sec1 h1
    {
        font-size: 4.75rem;
    }
    .sec1 h4
    {
        font-size: 1.25rem;
        padding-bottom: 2rem;
    }
    .font48 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .pad-bot4 {
        padding-bottom: 0.25rem;
    }
    .pad-tb5 {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }
    .mar-top5
    {
        margin-top: 0rem;
    }
    .mar-top1
    {
        margin-top: 1rem;
    }
    .font19 {
        font-size: 1.25rem;
        line-height: 2rem;
    }
    .sec2 img
    {
        width: 50%;
        height: auto;
    }
    hr.custom_hr {
        border: 0;
        border-top: 6px dotted #39A488;
        width: 50%;
        margin: 0rem auto;
    }
    footer ul li a
    {
        margin: 1.25rem;
    }
}