body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.customcontainer
{
    margin: 0 auto;
    width: 70%;
}
.font-gayatri
{
    font-family: 'Gayathri', sans-serif;
}
.font-monts
{
    font-family: 'Montserrat', sans-serif;
}
.font-cursiv
{
    font-family: 'Dancing Script', cursive;
}
.bg-ltgreen
{
    background-color: #E4F9F5;
}
.img-roundbg
{
    background-color: #F3F2F1;
    border-radius: 100%;
}
.txt-green
{
    color: #39A488;
}
.txt-grey
{
    color: #545454;
}
.font19
{
    font-size: 1.35rem;
    line-height: 1.75rem;
}
.font48
{
    font-size: 3rem;
    line-height: 1.75rem;
}



/* **********NAVBAR start********** */
.navbar-fixed-top.scrolled {
    background-color: #ffffff !important;
    border-bottom: 1px solid #cdcdcd;
    transition: background-color 500ms linear;
  }
.navclr
{
    background-color: #E4F9F5;
    padding-top: 1rem;
}
.navbar-brand img.logodimen
{
    width: 6.25rem;
    height: 6.25rem;
    background-color: #ffffff;
    border-radius: 100%;
}
.nav-item
{
    padding: 0 1rem;
}
.navbar-light .navbar-nav .nav-link
{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
}
.navbar-light .navbar-nav .nav-link.active
{
    color: #39A488;
}
.navbar-light .navbar-nav .nav-link:hover
{
    color: #39A488;
}
/* **********NAVBAR end********** */
/* **********SECTION1 start********** */
.sec1
{
    padding: 15rem 0rem 0rem;
}
.pos1
{
    position: absolute;
    right: 15.63rem;
    top: 12.5rem;
}
.pos2
{
    position: absolute;
    left: 7rem;
    bottom: 12.5rem;
}
.sec1 h1
{
    color: #39A488;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 5.75rem;
}
.sec1 h4
{
    color: #39A488;
    font-family: 'Gayathri', sans-serif;
    font-size: 1.5rem;
}
/* **********SECTION1 end********** */

/* **********SECTION2 end********** */

/* **********SECTION2 end********** */